<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<form th:method="patch" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="lastname">Enter name</label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <label for="username">Enter name</label>
    <input type="text" th:field="*{username}" id="username"/>
    <label for="password">Enter name</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>

	<select multiple name="nameRole" id="nameRole">
		<option>ROLE_USER</option>
		<option>ROLE_ADMIN</option>
	</select>
	<br/>
	<input type="submit" value="Update"/>
</form>
<a th:href="@{/admin}">Go back</a>
<br>
<a href="/logout">Logout</a>
</body>
</html>