<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/createNew}" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="lastname">Enter lastname</label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <label for="password">Enter password</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>

    <label for="nameRole">Enter role</label>
    <select multiple name="nameRole" id="nameRole">
        <option>ROLE_USER</option>
        <option>ROLE_ADMIN</option>
    </select>
    <br/>
    <input type="submit" value="Create"/>
</form>
<a th:href="@{/admin}">Go back</a>
<br>
<a href="/logout">Logout</a>

</body>
</html>